# Python cache files
__pycache__/
*.pyc

# Virtual environment folders
venv/
.venv/
env/

# Operating system junk files
.DS_Store
Thumbs.db

# Specific files you don't want to push (e.g., config, database)
config.ini
Zaynab_final_project_report.docs
Zaynab_Abdulraheem_Final Project.docs
Zaynab_Abdulraheem_Final Project.docs
Autism-Screening-Child-Data Description.docs